@model KoiPond.Repositories.Models.NhanVien // Update with your actual model namespace

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>

    <script>
        // Redirect to the homepage after 5 seconds (5000 milliseconds)
        setTimeout(function () {
            window.location.href = '@Url.Action("Index", "Home")';
        }, 5000);
    </script>
}

<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Nhân Viên</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a href="">Trang chủ</a></h6>
        <h6 class="text-white m-0 px-3">/</h6>
        <h6 class="text-uppercase text-white m-0">Tạo mới nhân viên</h6>
    </div>
</div>
<!-- Page Header End -->
<!-- Form Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-4">
                <h1 class="display-5 text-uppercase mb-4">Tạo nhân viên mới</h1>
            </div>
            <p class="mb-5">Vui lòng điền thông tin đầy đủ của nhân viên để tạo mới thành công.</p>
            <a class="btn btn-primary py-3 px-5" href="">Learn More</a>
        </div>
        <div class="col-lg-8">
            <div class="bg-white text-center p-5">
                <form asp-action="Create">
                    <div class="row g-3">

                        <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="TenNhanVien" class="form-label"></label>
                            <input asp-for="TenNhanVien" type="text" class="form-control bg-light border-0" placeholder="Tên nhân viên" style="height: 55px;" />
                            <span asp-validation-for="TenNhanVien" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="ChucVu" class="form-label"></label>
                            <input asp-for="ChucVu" type="text" class="form-control bg-light border-0" placeholder="Chức vụ" style="height: 55px;" />
                            <span asp-validation-for="ChucVu" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="SoDienThoai" class="form-label"></label>
                            <input asp-for="SoDienThoai" type="text" class="form-control bg-light border-0" placeholder="Số điện thoại" style="height: 55px;" />
                            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" type="text" class="form-control bg-light border-0" placeholder="Email" style="height: 55px;" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <label asp-for="ImagePath" class="form-label"></label>
                            <input asp-for="ImagePath" type="text" class="form-control bg-light border-0" placeholder="Ảnh" style="height: 55px;" />
                            <span asp-validation-for="ImagePath" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-4">
                            <input type="submit" value="Create" class="btn btn-primary py-3 px-5" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
