@using KoiPond.Repositories.ViewModels 
@model CreateRoleViewModel

@{
    ViewBag.Title = "Create Role";
}
<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Tạo quyền</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a href="">Trang chủ</a></h6>
        <h6 class="text-white m-0 px-3">/</h6>
        <h6 class="text-uppercase text-white m-0">Tạo quyền</h6>
    </div>
</div>
<!-- Page Header Start -->
<!-- Appointment Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-4">
                <h1 class="display-5 text-uppercase mb-4">Tạo quyền <span class="text-primary">cho hệ thống!</span></h1>
            </div>
            <p class="mb-5">Phân quyền hệ thống.</p>
            <a class="btn btn-primary py-3 px-5" href="">Create</a>
        </div>
        <div class="col-lg-8">
            <div class="bg-white text-center p-5">
                <form method="post">
                    <div class="row g-3">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="col-12 col-sm-6">
                            <input asp-for="RoleName" type="text" class="form-control bg-light border-0" placeholder="Tên quyền" style="height: 55px;">
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->
