@{
    ViewData["Title"] = "Home Page";
}
<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="2000">
        <!-- Added data-bs-interval -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <i class="fa fa-home fa-4x text-primary mb-4 d-none d-sm-block"></i>
                        <h1 class="display-2 text-uppercase text-white mb-md-4">Thiết kế kiến trúc cảnh quan</h1>
                        <p style="color:white">Sáng tạo và đầy thú vị?</p>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Nhận báo giá</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <i class="fa fa-tools fa-4x text-primary mb-4 d-none d-sm-block"></i>
                        <h1 class="display-2 text-uppercase text-white mb-md-4">Thi công bảo hành sửa chữa</h1>
                        <p style="color:white">Tốc độ chính xác và uy tín!</p>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="img/carousel-3.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <i class="fa fa-rainbow fa-4x text-primary mb-4 d-none d-sm-block"></i>
                        <h1 class="display-2 text-uppercase text-white mb-md-4">Kiến tạo cuộc sống</h1>
                        <p style="color:white">Chữa lành và xây dựng tâm hồn bạn!</p>
                        <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<div class="container-fluid py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-7">
            <h1 class="display-5 text-uppercase mb-4">Chúng tôi <span class="text-primary">tự tin </span>mang đến điều tốt đẹp nhất cho khách hàng</h1>
            <h4 class="text-uppercase mb-3 text-body">Với nhiều năm kinh nghiệm về thiết kế và thi công cảnh quan & kiến trúc đặc biệt là thiết kế nhà vườn, thiết kế sân vườn biệt thự, thiết kế vườn phong cách Nhật, thiết kế hồ cá Koi,…  chúng tôi đã thiết kế, thi công kiến trúc và cảnh quan cho nhiều dự án lớn trên khắp cả nước.</h4>
            <p>Chúng tôi hoạt động trong lĩnh vực tư vấn thiết kế kiến trúc, thiết kế cảnh quan, thiết kế sân vườn, thi công sân vườn biệt thự, thiết kế vườn Nhật, thiết kế hồ cá Koi,…</p>
            <div class="row gx-5 py-2">
                <div class="col-sm-8 mb-3">
                    <p class="fw-bold mb-3"><i class="fa fa-check text-primary me-3"></i>Thiết kế kiến trúc biệt thự vườn, nhà vườn, nhà dịch vụ</p>
                    <p class="fw-bold mb-3"><i class="fa fa-check text-primary me-3"></i>Tư vấn quy hoạch và thiết kế cảnh quan</p>
                    <p class="fw-bold mb-3"><i class="fa fa-check text-primary me-3"></i>Quản lý dự án, giám sát thi công kiến trúc, cảnh quan</p>
                    <p class="fw-bold mb-3"><i class="fa fa-check text-primary me-3"></i>Thi công công trình kiến trúc, cảnh quan, sân vườn biệt thự cao cấp</p>
                </div>
            </div>
            <p class="mb-4">”Tôi luôn ám ảnh việc biến những công trình cảnh quan thành những tác phẩm nghệ thuật, phản ánh sự thành công và phong cách sống của khách hàng” - Vu The Phong CEO & Founder</p>
            <img src="img/signature.jpg" alt="">
        </div>
        <div class="col-lg-5 pb-5" style="min-height: 400px;">
            <div class="position-relative bg-dark-radial h-100 ms-5">
                <img class="position-absolute w-100 h-100 mt-5 ms-n5" src="img/about.jpg" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Services Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 1200px;">
        <h1 class="display-5 text-uppercase mb-4">Chúng tôi cung cấp các dịch vụ <span class="text-primary">tốt nhất </span> về thiết kế và thi công.!</h1>
    </div>
    <div class="row g-5">
        <div class="col-lg-3 col-md-6">
            <div class="service-item bg-white d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-1.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-building text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">Thiết kế thi công cảnh quan</h4>
                    <p>Khi các chủ đầu tư luôn đặt sự kỳ vọng về một công trình trọn vẹn và đồng bộ, chúng tôi ở đó và mang đến những giá trị thật cho họ.</p>
                    <a class="btn text-primary" href="">Thêm <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-2.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-home text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">Thiết kế thi công nhà vườn</h4>
                    <p>Nếu bạn muốn có cho gia đình mình một mẫu nhà vườn, chúng tôi sẽ giúp bạn có những phong cách tốt nhất, phù hợp với sở thích. </p>
                    <a class="btn text-primary" href="">Thêm <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-3.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-drafting-compass text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">Thiết kế sân vườn</h4>
                    <p>Để có một khu vườn phù hợp với từng chủ đầu tư, việc đầu tiên chúng tôi cần phải thấu hiểu được khách hàng mong chờ điều gì!</p>
                    <a class="btn text-primary" href="">Thêm <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service-item bg-white rounded d-flex flex-column align-items-center text-center">
                <img class="img-fluid" src="img/service-4.jpg" alt="">
                <div class="service-icon bg-white">
                    <i class="fa fa-3x fa-palette text-primary"></i>
                </div>
                <div class="px-4 pb-4">
                    <h4 class="text-uppercase mb-3">Thiết kế thi công hồ cá koi</h4>
                    <p>Một hồ cá Koi đẹp không những mang lại vẻ đẹp thanh bình, may mắn và tài lộc mà còn mang vẻ đẹp thẩm mỹ riêng cho không gian.</p>
                    <a class="btn text-primary" href="">Thêm <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- Appointment Start -->
<div class="container-fluid py-6 px-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-4">
                <h1 class="display-5 text-uppercase mb-4">Nếu bạn cần <span class="text-primary">liên hệ</span></h1>
            </div>
            <p class="mb-5">NMọi sự hài lòng của bạn là niềm kiêu hãnh của chúng tôi!</p>
            <a class="btn btn-primary py-3 px-5" href="">Nhận báo giá</a>
        </div>
        <div class="col-lg-8">
            <div class="bg-light text-center p-5">
                <form>
                    <div class="row g-3">
                        <div class="col-12 col-sm-6">
                            <input type="text" class="form-control border-0" placeholder="Tên" style="height: 55px;">
                        </div>
                        <div class="col-12 col-sm-6">
                            <input type="email" class="form-control border-0" placeholder="Số điện thoại" style="height: 55px;">
                        </div>
                        @* <div class="col-12 col-sm-6">
                            <div class="date" id="date" data-target-input="nearest">
                                <input type="text"
                                       class="form-control border-0 datetimepicker-input"
                                       placeholder="Call Back Date" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="time" id="time" data-target-input="nearest">
                                <input type="text"
                                       class="form-control border-0 datetimepicker-input"
                                       placeholder="Call Back Time" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                            </div>
                        </div> *@
                        <div class="col-12">
                            <textarea class="form-control border-0" rows="5" placeholder="Phản hồi"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Gửi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->
<!-- Portfolio Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-4">Một vài dự án<span class="text-primary"> nổi bật </span> của chúng tôi</h1>
    </div>
    <div class="row gx-5">
        <div class="col-12 text-center">
            <div class="d-inline-block bg-dark-radial text-center pt-4 px-5 mb-5">
                <ul class="list-inline mb-0" id="portfolio-flters">
                    <li class="btn btn-outline-primary bg-white p-2 active mx-2 mb-4" data-filter="*">
                        <img src="img/portfolio-1.jpg" style="width: 150px; height: 100px;">
                        <div class="position-absolute top-0 start-0 end-0 bottom-0 m-2 d-flex align-items-center justify-content-center" style="background: rgba(4, 15, 40, .3);">
                            <h6 class="text-white text-uppercase m-0">Tất cả</h6>
                        </div>
                    </li>
                    <li class="btn btn-outline-primary bg-white p-2 mx-2 mb-4" data-filter=".first">
                        <img src="img/portfolio-2.jpg" style="width: 150px; height: 100px;">
                        <div class="position-absolute top-0 start-0 end-0 bottom-0 m-2 d-flex align-items-center justify-content-center" style="background: rgba(4, 15, 40, .3);">
                            <h6 class="text-white text-uppercase m-0">Thi công</h6>
                        </div>
                    </li>
                    <li class="btn btn-outline-primary bg-white p-2 mx-2 mb-4" data-filter=".second">
                        <img src="img/portfolio-3.jpg" style="width: 150px; height: 100px;">
                        <div class="position-absolute top-0 start-0 end-0 bottom-0 m-2 d-flex align-items-center justify-content-center" style="background: rgba(4, 15, 40, .3);">
                            <h6 class="text-white text-uppercase m-0">Chăm sóc</h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row g-5 portfolio-container">
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item first">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="img/portfolio-1.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">Vien le jardin</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>Vườn ông Viên</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-1.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item second">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="img/portfolio-2.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">ONSEN</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>Gò Vấp, HCM</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-2.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item first">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="img/portfolio-3.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">DAKNONG - FramStay</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>Đắk Nông, Lâm Đồng</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-3.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item second">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="img/portfolio-4.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">NHÀ MẪU LÀNG THONG DONG</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>Đà Lạt, Lâm Đồng</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-4.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item first">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="img/portfolio-5.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">Vườn Tự Tại</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>Xuyên Mộc, Bà Rịa – Vũng Tàu</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-5.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 portfolio-item second">
            <div class="position-relative portfolio-box">
                <img class="img-fluid w-100" src="img/portfolio-6.jpg" alt="">
                <a class="portfolio-title shadow-sm" href="">
                    <p class="h4 text-uppercase">The Retreat Garden – Vườn Nhật Bản</p>
                    <span class="text-body"><i class="fa fa-map-marker-alt text-primary me-2"></i>Gò Vấp, HCM</span>
                </a>
                <a class="portfolio-btn" href="img/portfolio-6.jpg" data-lightbox="portfolio">
                    <i class="bi bi-plus text-white"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio End -->
<!-- Team Start -->
<div class="container-fluid py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-4">Chúng tôi có những kĩ sư <span class="text-primary">Chuyên nghiệp và tận tâm </span>hàng đầu!</h1>
    </div>
    <div class="row g-5">
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="row g-0">
                <div class="col-10" style="min-height: 300px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/team-1.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-2">
                    <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                        <a class="btn" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="btn" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bg-light p-4">
                        <h4 class="text-uppercase">Vu Phong</h4>
                        <span>CEO & Founder</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="row g-0">
                <div class="col-10" style="min-height: 300px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/team-2.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-2">
                    <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                        <a class="btn" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="btn" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bg-light p-4">
                        <h4 class="text-uppercase">Dylan Adams</h4>
                        <span>Kĩ sư thiết kế</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="row g-0">
                <div class="col-10" style="min-height: 300px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/team-3.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-2">
                    <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                        <a class="btn" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="btn" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bg-light p-4">
                        <h4 class="text-uppercase">Jhon Doe</h4>
                        <span>Chuyên viên tư vấn</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="row g-0">
                <div class="col-10" style="min-height: 300px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="img/team-4.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-2">
                    <div class="h-100 d-flex flex-column align-items-center justify-content-between bg-light">
                        <a class="btn" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn" href="#"><i class="fab fa-instagram"></i></a>
                        <a class="btn" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="bg-light p-4">
                        <h4 class="text-uppercase">Josh Dunn</h4>
                        <span>Kĩ sư thi công</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="text-center mx-auto mb-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-4">Tự hòa với sự <span class="text-primary">hài lòng </span>của khách hàng!!!</h1>
    </div>
    <div class="row gx-0 align-items-center">
        <div class="col-xl-4 col-lg-5 d-none d-lg-block">
            <img class="img-fluid w-100 h-100" src="img/testimonial.jpg">
        </div>
        <div class="col-xl-8 col-lg-7 col-md-12">
            <div class="testimonial bg-light">
                <div class="owl-carousel testimonial-carousel">
                    <div class="row gx-4 align-items-center">
                        <div class="col-xl-4 col-lg-5 col-md-5">
                            <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="img/testimonial-1.jpg" alt="">
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-7">
                            <h4 class="text-uppercase mb-0">Phan Linh</h4>
                            <p>Profession</p>
                            <p class="fs-5 mb-0">
                                <i class="fa fa-2x fa-quote-left text-primary me-2"></i> Chất lượng tốt, nhân viên rất nhiệt tình, đảm bảo sự uy tín xuyên suốt quá trình thi công.
                            </p>
                        </div>
                    </div>
                    <div class="row gx-4 align-items-center">
                        <div class="col-xl-4 col-lg-5 col-md-5">
                            <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="img/testimonial-2.jpg" alt="">
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-7">
                            <h4 class="text-uppercase mb-0">Quỳnh Mai</h4>
                            <p>Profession</p>
                            <p class="fs-5 mb-0">
                                <i class="fa fa-2x fa-quote-left text-primary me-2"></i> Thật sự hài lòng với những gì đội ngũ của KoiPond mang lại, dịch vụ tận tâm, các bạn còn sẵn sàng
                                giúp mình chăm sóc các bạn cá lúc mình vắng nhà.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
