@model KoiPond.Repositories.Models.KhachHang // Update with your actual model namespace

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">Khách Hàng</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a href="">Trang chủ</a></h6>
        <h6 class="text-white m-0 px-3">/</h6>
        <h6 class="text-uppercase text-white m-0">Tạo mới khách hàng</h6>
    </div>
</div>
<!-- Page Header End -->
<!-- Form Start -->
<div class="container-fluid bg-light py-6 px-5">
    <div class="row gx-5">
        <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="mb-4">
                <h1 class="display-5 text-uppercase mb-4">Tạo khách hàng mới</h1>
            </div>
            <p class="mb-5">Hãy cung cấp thông tin đầy đủ của khách hàng để tạo mới thành công.</p>
            <a class="btn btn-primary py-3 px-5" href="">Learn More</a>
        </div>
        <div class="col-lg-8">
            <div class="bg-white text-center p-5">
                <form asp-action="Create">
                    <div class="row g-3">

                        <div asp-validation-summary="ModelOnly" class="text-danger mb-4"></div>

                        <div class="col-12 col-sm-6">
                            <input asp-for="TenKhachHang" type="text" class="form-control bg-light border-0" placeholder="Tên khách hàng" style="height: 55px;" />
                            <span asp-validation-for="TenKhachHang" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <input asp-for="DiaChi" type="text" class="form-control bg-light border-0" placeholder="Dịa chỉ" style="height: 55px;" />
                            <span asp-validation-for="DiaChi" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <input asp-for="SoDienThoai" type="text" class="form-control bg-light border-0" placeholder="Số điện thoại" style="height: 55px;" />
                            <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <input asp-for="Email" type="text" class="form-control bg-light border-0" placeholder="Email" style="height: 55px;" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <input asp-for="DiemTrungThanh" type="text" class="form-control bg-light border-0" placeholder="Điểm tích lũy" style="height: 55px;" />
                            <span asp-validation-for="DiemTrungThanh" class="text-danger"></span>
                        </div>

                        <div class="col-12 col-sm-6">
                            <input asp-for="ImagePath" type="text" class="form-control bg-light border-0" placeholder="Ảnh" style="height: 55px;" />
                            <span asp-validation-for="ImagePath" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-4">
                            <input type="submit" value="Create" class="btn btn-primary py-3 px-5" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
